body {
    background-color: #dff1d6;
    color: black;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-width: 100%;
    border-bottom: solid 1px #4f7c54;
    position: sticky;
    top: 0;
    background-color: #4f7c54;
}

.logo{
    width: 80px;
    border-radius: 50px;
}
.div-logo{
 margin-left: 50px;
}

.menu {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap:100px;
    margin: 10px;
    padding: 20px;
    margin-right: 50px;
    font-family: "Assistant", sans-serif;
}

header ul li a{
    color:white;
}

header ul li a:hover{
    color:yellow;
    background-color: rgba(173, 245, 38, 0.659);
    border-radius: 5px;
    color: #3D5440;
}

.template-container{
    display:grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 400px;
    padding: 2rem 3rem;
    justify-content: center;
    gap: 130px;
}

.simbolo{
    width: 400px;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.pagina-titulo{
    color: #4f7c54;
    display: flex;
    justify-content: center;
    font-family: "Yeseva One", 400;
    font-size: 45px;
    margin: 10px;
    text-align: center;
}

.pagina-sobre{
    color: #3D5440;
    font-family: "Assistant", sans-serif;
    margin:30px;
    text-align: center;
}

.botao{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    margin-top: 4px;
    border: solid 1px #4f7c54;
    background-color:#4f7c54;
    color:#dff1d6 ;
}

.botao:hover{
    background-color: rgba(173, 245, 38, 0.659);
    color:#3D5440;
}


hr {
    width: 80%;
    margin: 0 auto;
    border: solid 0.001px #4f7c54;
}

.exemplo{
    width: 400px;
}

.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 200px;
}

.h2-c2 {
    margin-bottom: 25px;
}


.container-hover:hover{
    background-color: rgba(173, 245, 38, 0.659);
}

.borda {
    padding: 20px;
    border-radius: 30px;
    background-color: #4f7c549d;
}

.icon {
    width: 15px;
}


.logo-footer{
    width: 100px;
    border-radius: 50px;
}
.logo_frase{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-right: 80px;
 gap: 10px;
 text-align: center;
 font-family: assistant;
 font-size: 12px;
}


.grid{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    padding: 2rem 3rem;
    justify-content: center;
    gap: 130px;
}

.third-section-h3 {
    margin-top:10px;
    margin-bottom:30px;
    text-align: center;
    padding: 10px;
}

.grid-item {
    background-color: #4f7c549d;
    border-radius: 20px;
}

.p3 {
    padding: 20px;
}

footer {
    width: 100%;
    background-color:#4f7c54;
    color: #dff1d6;
}

.conteudo_footer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 2.5rem;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.div-contato{
    padding-right: 80px;
}


.conteudo_footer h3{
    color: #dff1d6;
    font-family: yeseva one, 100;
}
.conteudo_footer p{
    font-family: assistant, sans-serif;
    font-size: 12px;
}

.links{
    color: #dff1d6;
    font-family: assistant;
}
.links:hover{
    background-color:#bde158;
    color: #4f7c54;
    border-radius: 2px;
}

.formulario{
    color:#dff1d6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
    padding-right: 50px;
    
}

input {
    border-radius: 5px;
    background-color: #dff1d6;
    border: inset;
}

input:checked {
    color: red;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}
.caixa h4{
    font-family: yeseva one, 100;
}

.div-botao{
 display: flex;
 justify-content: center;
}

.botao-footer{
    width: 100px;
    height: 25px;
    border-radius: 50px;
    margin-top: 4px;
    border: solid 1px #dff1d6;
    background-color:#dff1d6;
    color: #4f7c54;
}
.botao-footer:hover{
    width: 115px;
    height: 30px;
    border-radius: 50px;
    margin-top: 4px;
    border: solid 1px #dff1d6;
    background-color:#dff1d6;
    color: #4f7c54;
}
.input{
    width: 200px;
    height:25px;
    margin: 3px;
}

.mensagem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.sugestoes{
    width: 300px;
    height: 90px;
    margin: 3px;
}
